<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#admin/user/list">Admin</a></li>
                <li><a href="#admin/depart">부서관리</a></li>
            </ol>
        </div>
    </div>

    <!-- 부서 CONTENT Layer -->
    <div class="row">
        <script id="departTemplate" type="text/x-kendo-template">
            <div class='employee-name'>#:NAME#</div>
        </script>

        <script id="workGroupTemplate" type="text/x-kendo-template">
            #:WORK_GROUP#
        </script>

        <script id="workGroupNameTemplate" type="text/x-kendo-template">
            #:WORK_GROUP_NAME#
        </script>
        
        <script id="cntEmpTemplate" type="text/x-kendo-template">
            #:CNT_EMP#
        </script>
        
        <script id="topDeptTemplate" type="text/x-kendo-template">
             # if(YN_TOPDEPT === "YES") { #
                <span>상위부서</span>
            # } else { #
                <span>-</span>
            # } #
        </script>

        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="departMngVO.boxTitle">
                <div id="departTreeList" 
                    kendo-tree-list="departMngVO.departTreeList"
                    k-sortable="true"
                    k-filterable="false"
                    k-reorderable="true"
                    k-column-menu="true"
                    k-resizable="true"
                    k-editable="{ mode: 'inline', move: true }",
                    k-selectable="false"
                    k-height="550"
                    k-on-data-bound="onDataBound(kendoEvent)"
                    k-on-change="onChange(kendoEvent)"
                    k-data-source="dataSource"
                    k-options="treelistOptions">
                </div>
            </div>
        </div>
    </div>
    <!--/ 부서 CONTENT Layer END -->
</div>

<style type="text/css">
    .employee-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        padding-left: 3px;
        margin-left: 5px;
    }
    .k-button
    {
    	padding: 5px;
    }
</style>