@charset "utf-8";
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;

  src: local("Noto Sans Thin"), local("NotoSans-Thin"), url("../fonts/NotoSansKR-Thin-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Thin-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Thin-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;

  src: local("Noto Sans Light"), local("NotoSans-Light"), url("../fonts/NotoSansKR-Light-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;

  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url("../fonts/NotoSansKR-DemiLight-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-DemiLight-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;

  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/NotoSansKR-Regular-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;

  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../fonts/NotoSansKR-Medium-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;

  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSansKR-Bold-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold-Hestia.woff") format("woff");
  }
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;

  src: local("Noto Sans Black"), local("NotoSans-Black"), url("../fonts/NotoSansKR-Black-Hestia.eot") format("eot"), url("../fonts/NotoSansKR-Black-Hestia.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black-Hestia.woff") format("woff");
  }
@font-face {
  font-family: 'ui-grid';
  font-style: normal;
  font-weight: normal;

  src: url('../fonts/ui-grid.eot');
  src: url('../fonts/ui-grid.eot#iefix') format('embedded-opentype'), url('../fonts/ui-grid.woff') format('woff'), url('../fonts/ui-grid.ttf?') format('truetype'), url('../fonts/ui-grid.svg?#ui-grid') format('svg');
  }
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
  }
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  }
table {
  width: 100%;
  word-break: break-all;
  table-layout: fixed;
  border-collapse: collapse;
  }
table thead tr th,
table thead tr td {
  padding: 6px 7px;
  text-align: center;
  }
table tbody tr th,
table tbody tr td {
  padding: 6px 7px;
  text-align: center;
  vertical-align: middle;
  }
table tbody tr td input[type="text"],
table tbody tr td input[type="number"],
table tbody tr td input[type="password"],
table tbody tr td input[type="email"] {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  }
table tbody tr td button {
  margin: 0 !important;
  vertical-align: middle;
  }
table tbody tr td .tbl-message {
  font-weight: bold;
  color: #777;
  }
table tbody tr td table {
  margin-bottom: 0;
  }
table tfoot tr td {
  text-align: center;
  }
textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  border-width: 0;
  }
/*
 * init bootstrap css
 */
.container,
.container-fluid {
  min-width: 1336px !important;
  }
input[type=checkbox],
input[type=radio] {
  margin: 2px 0 0;
  }
/*
 * init data-range-picker
 */
.date-picker-wrapper {
  z-index: 99;
  }
/*
 * hide before process angular
 */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
  }
/* jquery-ui 경로 수정 */
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_bbbbbb_256x240.png");
  }
.ui-widget-header .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_cccccc_256x240.png");
  }
.ui-state-default .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_666666_256x240.png");
  }
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_c98000_256x240.png");
  }
.ui-state-active .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_f29a00_256x240.png");
  }
.ui-state-highlight .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_aaaaaa_256x240.png");
  }
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("../img/jquery-ui/ui-icons_cd0a0a_256x240.png");
  }
.ui-widget-overlay {
  background: #aaa url("../img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  filter: alpha(opacity=30);
  opacity: .3;
  /* support: IE8 */
  }
.ui-widget-shadow {
  padding: 8px;
  margin: -8px 0 0 -8px;
  background: #aaa url("../img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  filter: alpha(opacity=30);
  /* support: IE8 */
  border-radius: 8px;
  opacity: .3;
  }
.ui-widget-content {
  color: #eee;
  background: #121212 url("../img/jquery-ui/ui-bg_gloss-wave_16_121212_500x100.png") 50% top repeat-x;
  border: 1px solid #404040;
  }
.ui-widget-header {
  font-weight: bold;
  color: #fff;
  background: #888 url("../img/jquery-ui/ui-bg_highlight-hard_15_888888_1x100.png") 50% 50% repeat-x;
  border: 1px solid #404040;
  }
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
  color: #333;
  background: #adadad url("../img/jquery-ui/ui-bg_highlight-soft_35_adadad_1x100.png") 50% 50% repeat-x;
  border: 1px solid #ccc;
  }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
  color: #000;
  background: #ddd url("../img/jquery-ui/ui-bg_highlight-soft_60_dddddd_1x100.png") 50% 50% repeat-x;
  border: 1px solid #ddd;
  }
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  font-weight: normal;
  color: #fff;
  background: #121212 url("../img/jquery-ui/ui-bg_inset-soft_15_121212_1x100.png") 50% 50% repeat-x;
  border: 1px solid #000;
  }
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #ccc;
  background: #555 url("../img/jquery-ui/ui-bg_highlight-hard_55_555555_1x100.png") 50% top repeat-x;
  border: 1px solid #404040;
  }
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color: #cd0a0a;
  background: #fef1ec url("../img/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
  border: 1px solid #cd0a0a;
  }
/* select2 */
.select2-container--default .select2-selection--single {
  border-radius: 1px;
  }
/* modal */
.modal-footer {
  margin-top: 20px;
  }
.modal-footer .btn {
  height: 28px;
  }
/* angular-grid */
.ui-grid .btn {
  height: 14px;
  margin-bottom: 0;
  line-height: 14px;
  }
/* ag-grid */
.ag-fresh {
  border-top: 1px solid #d4d4d4;
  }
.ag-fresh .ag-root {
  border: 1px solid #d4d4d4;
  }
.ag-fresh .ag-header-container {
  background: #f6f8f8;
  border-bottom: 2px solid #d4d4d4;
  }
.ag-fresh .ag-header-cell {
  border-right: 1px solid #d4d4d4;
  }
.ag-fresh .ag-header-group-cell {
  border-right: 1px solid #d4d4d4;
  }
.ag-fresh .ag-header-group-cell-with-group {
  border-bottom: 1px solid #d4d4d4;
  }
.ag-fresh .ag-selection-checkbox {
  vertical-align: top;
  }
.ag-fresh .ag-cell .ag-small {
  padding-right: 5px;
  padding-left: 3px;
  font-size: smaller;
  }
.ag-cell i {
  padding-left: 5px;
  }
/* bootstrap */
.nav li > a:hover {
  cursor: pointer;
  }
.btn {
  height: 28px;
  }
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  }
.form-inline .form-group {
  margin-top: 0;
  margin-bottom: 0;
  }
.form-inline .form-group + .form-group {
  margin-left: 10px;
  }
.form-inline .form-group label + .form-control {
  margin-left: 3px;
  }
.form-control:hover {
  box-shadow: none;
  }
.table > tbody > tr > td {
  vertical-align: middle;
  }
/* textAngular */
.ta-root.focussed > .ta-scroll-window.form-control {
  box-shadow: none;
  }
.va-m {
  vertical-align: middle 	!important;
  }
.va-t {
  vertical-align: top 	!important;
  }
.va-b {
  vertical-align: bottom 	!important;
  }
.ta-c {
  text-align: center 		!important;
  }
.ta-r {
  text-align: right 		!important;
  }
.ta-l {
  text-align: left 		!important;
  }
.font-w700 {
  font-weight: 700 	!important;
  }
.font-w500 {
  font-weight: 500 	!important;
  }
.font-w300 {
  font-weight: 300 	!important;
  }
.font-sm {
  font-size: smaller 	!important;
  }
.font-lg {
  font-size: larger	!important;
  }
.clear {
  clear: both;
  }
.wid-auto {
  width: auto;
  }
.wid-12 {
  width: 100% 			!important;
  }
.wid-11 {
  width: 91.66666667% 	!important;
  }
.wid-10 {
  width: 83.33333333% 	!important;
  }
.wid-9 {
  width: 75% 			!important;
  }
.wid-8 {
  width: 66.66666667% 	!important;
  }
.wid-7 {
  width: 58.33333333% 	!important;
  }
.wid-6 {
  width: 50% 			!important;
  }
.wid-5 {
  width: 41.66666667% 	!important;
  }
.wid-4 {
  width: 33.33333333% 	!important;
  }
.wid-3 {
  width: 25% 			!important;
  }
.wid-2 {
  width: 16.66666667% 	!important;
  }
.wid-1 {
  width: 8.33333333% 	!important;
  }
.mt-0 {
  margin-top: 0;
  }
.mt-5 {
  margin-top: 5px;
  }
.mt-10 {
  margin-top: 10px;
  }
.mt-15 {
  margin-top: 15px;
  }
.mt-20 {
  margin-top: 20px;
  }
.mt-25 {
  margin-top: 25px;
  }
.mt-30 {
  margin-top: 30px;
  }
.mt-35 {
  margin-top: 35px;
  }
.mt-40 {
  margin-top: 40px;
  }
.mb-0 {
  margin-bottom: 0;
  }
.mb-5 {
  margin-bottom: 5px;
  }
.mb-10 {
  margin-bottom: 10px;
  }
.mb-15 {
  margin-bottom: 15px;
  }
.mb-20 {
  margin-bottom: 20px;
  }
.mb-25 {
  margin-bottom: 25px;
  }
.mb-30 {
  margin-bottom: 30px;
  }
.mb-35 {
  margin-bottom: 35px;
  }
.mb-40 {
  margin-bottom: 40px;
  }
.pr-0 {
  padding-right: 0;
  }
.pr-5 {
  padding-right: 5px;
  }
.pr-10 {
  padding-right: 10px;
  }
.pr-15 {
  padding-right: 15px;
  }
.pr-20 {
  padding-right: 20px;
  }
.pr-25 {
  padding-right: 25px;
  }
.pl-0 {
  padding-left: 0;
  }
.pl-5 {
  padding-left: 5px;
  }
.pl-10 {
  padding-left: 10px;
  }
.pl-15 {
  padding-left: 15px;
  }
.pl-20 {
  padding-left: 20px;
  }
.pl-25 {
  padding-left: 25px;
  }
.bw-bottom-bold {
  border-bottom-width: 2px !important;
  }
.bw-bottom-none {
  border-bottom-width: 0 !important;
  }
.red {
  color: #f00 !important;
  }
.red-dark {
  color: #f66 !important;
  }
.red-light {
  color: #fee !important;
  }
.green {
  color: #32ac8e !important;
  }
.green-dark {
  color: #6fd5bc !important;
  }
.green-light {
  color: #d8f4ed !important;
  }
.orange {
  color: #f90 !important;
  }
.orange-dark {
  color: #ffc266 !important;
  }
.orange-light {
  color: #fff8ee !important;
  }
.gray {
  color: #b4c2cc !important;
  }
.gray-light {
  color: gainsboro !important;
  }
.throw {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  visibility: hidden;
  }
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  }
/* Heading Tag */
h3.sub-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  }
h3.sub-title i {
  color: #9c3669;
  }
/* HR */
hr.sub-title-btline {
  margin-top: 5px;
  margin-bottom: 20px;
  border-top: 1px solid #e8e8e8;
  }
.hover-cursor {
  cursor: pointer;
  }
.hpd-type6 {
  display: block;
  margin: 25px 0 15px;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  }
.hpd-type6 > i {
  padding-right: 10px;
  color: #bb162b;
  }
.hpd-type-first {
  margin-top: 0;
  }
.hpd-type-last {
  margin-bottom: 0;
  }
.hpd-box {
  padding: 10px;
  }
.hpd-fmt-price {
  padding-right: 10px;
  text-align: right;
  }
.list-explain {
  padding: 5px 0 0 30px;
  list-style-type: square;
  }
.list-sm > li {
  font-size: smaller;
  }
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  color: #222;
  background: #6aa6d6 url(../img/common/devoops_pattern_b10.png) 0 0 repeat;
  }
#login-address {
  margin: 20px 0 0;
  text-align: center;
  }
#login-address > p {
  font-size: 12px;
  color: #fff;
  }
/* content-layout */
.box-header .box-name {
  font-size: 12px;
  font-weight: bold;
  }
.box-content .box-sub-content {
  margin-bottom: 20px;
  }
/* column-layout */
.hbox {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  }
.hbox .hbox-col {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  }
.hbox .hbox-col-bar {
  position: relative;
  display: table-cell;
  width: 10px;
  height: 1px;
  vertical-align: middle;
  }
.icon-action {
  cursor: pointer;
  }
.icon-action > .fa {
  color: darkgrey;
  }
.icon-action:hover > .fa {
  color: #337ab7;
  }
.icon-action:active > .fa {
  color: #286090;
  }
.icon-action::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
  }
/*
 * Simple Search
 * input+button or select+input+button
 */
.simple-search {
  position: relative;
  margin-bottom: 10px;
  }
.simple-search label {
  display: inline-block;
  }
.simple-search .form-control {
  width: auto;
  vertical-align: top;
  }
.simple-search .btn {
  height: 28px;
  margin: 0;
  }
.simple-search .left-group {
  position: relative;
  display: table;
  height: 28px;
  padding: 0;
  text-align: left;
  }
.simple-search .left-group input + button {
  margin-left: 4px;
  }
.simple-search .right-group {
  position: relative;
  display: table;
  height: 28px;
  padding: 0;
  text-align: right;
  }
.simple-search .right-group .grid-btn {
  position: relative;
  display: table-cell;
  height: 100%;
  padding-bottom: 4px;
  font-size: 11px;
  vertical-align: bottom;
  }
.simple-search .right-group .grid-btn-group {
  display: table-cell;
  height: 100%;
  padding-bottom: 4px;
  font-size: 11px;
  vertical-align: bottom;
  }
.simple-search .right-group .grid-btn-group button {
  float: right;
  }
.simple-search .right-group .grid-btn-group button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  }
.simple-search .right-group .grid-btn-group button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  }
.simple-search:after {
  display: block;
  clear: both;
  content: '';
  }
.page-common-control {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  background-color: #f3f2f1;
  }
.page-common-control:before,
.page-common-control:after {
  display: table;
  content: " ";
  }
.page-common-control:after {
  clear: both;
  }
.page-common-control .util-group {
  float: right;
  margin-right: 15px;
  }
.page-common-control .util-group .btn {
  position: relative;
  width: 60px;
  height: 32px;
  padding: 0;
  margin: 0;
  border-width: 0;
  }
.page-common-control .util-group .btn:after {
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  display: block;
  height: 4px;
  content: ' ';
  }
.page-common-control .util-group .btn.page-cancel-btn:after {
  background-color: #fb6e52;
  }
.page-common-control .util-group .btn.page-cancel-btn:hover,
.page-common-control .util-group .btn.page-cancel-btn:focus {
  color: #fb6e52;
  background-color: #fff;
  }
/* tags */
.tags {
  display: inline-block;
  padding: 3px 10px;
  margin: 3px 5px 3px 0;
  color: #fff;
  background-color: darkcyan;
  }
.tags i {
  padding-left: 5px;
  }
.tags i:hover {
  cursor: pointer;
  }
/* 리스트 테이블 util group */
.list-util .form-checkbox {
  width: 14px;
  height: 16px;
  }
.list-util .form-control {
  width: auto;
  vertical-align: top;
  }
/* jui chart */
.jui-chart .row,
.jui-chart .col-xs-12,
.jui-chart .col-xs-11,
.jui-chart .col-xs-10,
.jui-chart .col-xs-9,
.jui-chart .col-xs-8,
.jui-chart .col-xs-7,
.jui-chart .col-xs-6,
.jui-chart .col-xs-5,
.jui-chart .col-xs-4,
.jui-chart .col-xs-3,
.jui-chart .col-xs-2,
.jui-chart .col-xs-1 {
  height: 100%;
  }
.jui-chart .chart .chart-container {
  position: relative;
  height: 320px;
  }
.jui-chart .chart.expanded .chart-container {
  height: 100%;
  }
.jui-chart .chart .fa {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  }
.jui-chart .chart:hover .fa {
  opacity: .4;
  }
.jui-chart .chart:hover .fa:hover,
.jui-chart .chart:hover .fa:focus,
.jui-chart .chart:hover .fa:active {
  cursor: pointer;
  opacity: 1;
  }
.jui-chart .jui-chart-row {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  }
.jui-chart .jui-bar-chart.jui-bar-radio-group {
  position: absolute;
  left: 20px;
  z-index: 1;
  }
/* page global search */
.page-search.absolute {
  position: absolute;
  z-index: 1;
  }
/* style.css overwrite */
.body-expanded .expanded-panel,
.fancybox-margin .expanded-panel,
.modal-open .expanded-panel {
  margin-right: 0;
  }
/* box layout 초기화 */
.box,
.navbar {
  z-index: auto;
  }
.btn-edit {
  margin: 0;
  color: #fff;
  background-color: #337ab7;
  border-color: #2d6da3;
  }
.btn-edit:hover,
.btn-edit:focus,
.btn-edit.focus,
.btn-edit:active,
.btn-edit.active {
  color: #fff;
  background-color: #285f8f;
  border-color: #204d73;
  }
.btn-download {
  margin: 0;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  }
.btn-download:hover,
.btn-download:focus,
.btn-download.focus,
.btn-download:active,
.btn-download.active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  }
.btn-setting {
  margin: 0;
  color: #fff;
  background-color: #b4c2cc;
  border-color: #a5b6c2;
  }
.btn-setting:hover,
.btn-setting:focus,
.btn-setting.focus,
.btn-setting:active,
.btn-setting.active {
  color: #fff;
  background-color: #96a9b7;
  border-color: #8098a9;
  }
.btn-group button.active {
  color: #fff;
  background-color: #32ac8e;
  border-color: #2c987e;
  }
.btn-group button.active:hover,
.btn-group button.active:active,
.btn-group button.active:focus {
  color: #fff;
  background-color: #32ac8e;
  border-color: #2c987e;
  }
/* inline-search-btn */
.home-search-btn {
  margin: 0;
  }
.home-search-btn .btn {
  margin-bottom: 0;
  }
.home-search-btn > .search-btn {
  display: inline-block;
  }
.search-btn {
  position: relative;
  }
.search-btn > input {
  width: 240px;
  padding-right: 72px;
  }
.search-btn > button {
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  width: 70px;
  height: 26px;
  margin: 0;
  border-width: 0;
  }
.form-control {
  height: 28px;
  }
.frm-input-group {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: collapse;
  }
.frm-input-group .frm-input-group-value {
  display: table-cell;
  width: 100%;
  }
.frm-input-group .frm-input-group-value .form-control {
  display: inline-block;
  vertical-align: bottom;
  }
.frm-input-group .frm-input-group-value.group-form-text {
  padding-left: 5px;
  vertical-align: middle;
  }
.frm-input-group .frm-input-group-value.frm-auto {
  width: auto;
  }
.frm-input-group .frm-input-group-btn {
  display: table-cell;
  padding-left: 0;
  vertical-align: top;
  }
.frm-input-group .frm-input-group-btn button {
  height: 28px;
  margin: 0;
  border: 1px solid #ccc;
  }
.frm-input-group .frm-input-group-btn button i {
  vertical-align: baseline;
  }
.frm-input-group.frm-input-multi .frm-input-group-value .form-control {
  height: auto;
  }
.frm-input-group.frm-input-multi .frm-input-group-btn {
  padding-left: 4px;
  }
.frm-input-group .frm-input-group-value + .frm-input-group-value {
  padding-left: 2px;
  }
.frm-inline .frm-group {
  display: inline-block;
  }
.frm-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  }
.frm-crud-group {
  margin-top: 10px;
  text-align: center;
  }
.checkbox-inline input[type=checkbox],
.checkbox-inline input[type=radio] {
  margin-top: 3px;
  }
.check-group,
.radio-group {
  display: table-cell;
  }
.check-group > div,
.radio-group > div {
  margin-top: 2px;
  }
.check-group > div.check-list-first,
.radio-group > div.check-list-first {
  margin-top: 0;
  }
.check-group label span,
.radio-group label span {
  font-size: 11px;
  }
.check-group input[type="checkbox"],
.radio-group input[type="radio"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  }
.check-group input[type="checkbox"] + label,
.radio-group input[type="radio"] + label {
  height: 20px;
  margin-left: 4px;
  vertical-align: -1px;
  }
.check-group label + input[type="checkbox"],
.radio-group label + input[type="radio"] {
  margin-left: 12px;
  }
/* table */
table tr.selected {
  color: #fff;
  background-color: #337ab7;
  }
table.hover-cursor tr :hover {
  cursor: pointer;
  }
.table-bordered {
  margin-bottom: 0;
  }
.table-bordered thead tr .header-group {
  background-color: #eee;
  border-bottom-width: 1px;
  }
.table-bordered thead tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  }
.table-bordered tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  }
.table-bordered tbody tr td .btn {
  line-height: 20px;
  }
.table-bordered tbody tr.detail {
  background-color: #fdfdfd;
  }
.table-bordered tbody tr.detail > td {
  padding: 10px;
  text-align: left;
  white-space: normal;
  border-top: 1px solid transparent;
  }
.table-bordered tfoot tr:first-child th,
.table-bordered tfoot tr:first-child td {
  border-top-width: 2px;
  }
.app-tbl-caption {
  margin-bottom: 10px;
  }
.app-tbl-caption > span {
  font-size: 12px;
  font-weight: 700;
  }
.app-tbl thead tr th {
  background-color: #f6f8f8;
  }
.app-tbl tbody tr th {
  vertical-align: middle;
  }
.app-tbl-file a {
  color: #222;
  }
/* tree table */
.tree-tbl {
  position: relative;
  width: 100%;
  }
.tree-tbl-panel {
  position: relative;
  width: 100%;
  height: 100%;
  }
.tree-tbl-container {
  position: relative;
  float: left;
  height: 100%;
  }
.tree-tbl-pinned-left,
.tree-tbl-pinned-right,
.tree-tbl-default {
  position: relative;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  }
.tree-header-container,
.tree-body-container,
.tree-footer-container {
  overflow: hidden;
  }
.tree-header-cell,
.tree-body-cell,
.tree-footer-cell {
  float: left;
  padding: 6px 6px;
  border: 1px solid #ddd;
  }
.tree-header-cell + .tree-header-cell,
.tree-body-cell + .tree-body-cell,
.tree-footer-cell + .tree-footer-cell {
  border-left-width: 0;
  }
.tree-body-container .tree-body-row .tree-body-cell {
  border-top-width: 0;
  }
.tree-body-container .tree-body-row:first-child .tree-body-cell {
  border-top-width: 1px;
  }
.tree-header-cell {
  height: 26px;
  border-bottom-width: 2px;
  }
.tree-body-cell {
  height: 24px;
  border-bottom-width: 2px;
  }
.tree-footer-cell {
  height: 26px;
  border-bottom-width: 2px;
  }
.tree-tbl-container:after,
.tree-header-row:after,
.tree-body-row:after,
.tree-footer-row:after {
  display: table;
  clear: both;
  content: " ";
  }
.hpd-tbl {
  position: relative;
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  }
.hpd-tbl table thead tr:first-child th {
  border-top-width: 0;
  }
.hpd-tbl table tbody tr td:first-child {
  border-left-width: 0;
  }
.hpd-tbl table tbody tr td:last-child {
  border-right-width: 0;
  }
.hpd-tbl table tbody tr.even td {
  background-color: #f9f9f9;
  }
.hpd-info-tbl .table > thead > tr > th,
.hpd-info-tbl .table > tbody > tr > th,
.hpd-info-tbl .table > tfoot > tr > th {
  text-align: center;
  background-color: #f6f8f8;
  }
.textarea-wrapper {
  display: block;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #eaeaea;
  }
.textarea-wrapper .btn {
  margin-bottom: 0;
  }
.textarea-wrapper .form-control {
  display: block;
  }
.form-inline .btn-group + .form-group {
  margin-left: 10px;
  }
.nav-tabs {
  border-bottom: 1px solid #c3c3c3;
  }
.nav-tabs > li > a {
  padding: 10px 25px;
  color: #6836c4;
  border: 1px solid #c3c3c3;
  border-bottom-width: 0;
  }
.nav-tabs > li > a:hover {
  background-color: transparent;
  border: 1px solid #c3c3c3;
  }
.nav-tabs > li.active > a {
  color: #fff;
  background-color: #7977c2;
  border: 1px solid #c3c3c3;
  border-bottom-color: #7977c2;
  }
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:hover {
  color: #fff;
  background-color: #7977c2;
  border: 1px solid #c3c3c3;
  border-bottom-color: #7977c2;
  }
.nav-tabs.page-tabs > li > a {
  color: #6836c4;
  }
.nav-tabs.page-tabs > li.active > a {
  font-weight: bold;
  color: #fff;
  background-color: rgba(67, 117, 219, .8);
  border: 1px solid #c3c3c3;
  border-bottom-color: rgba(67, 117, 219, .8);
  }
.nav-tabs.page-tabs > li.active > a:focus,
.nav-tabs.page-tabs > li.active > a:active,
.nav-tabs.page-tabs > li.active > a:hover {
  color: #fff;
  background-color: rgba(67, 117, 219, .8);
  border: 1px solid #c3c3c3;
  border-bottom-color: rgba(67, 117, 219, .8);
  }
/*.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {background-color: #FCFCFC;}*/
.edt-tree {
  position: relative;
  box-sizing: content-box;
  border: 1px solid #dee5e7;
  }
.edt-tree-container {
  float: left;
  }
.edt-tree-header,
.edt-tree-view {
  overflow: hidden;
  }
.edt-tree-header {
  background-color: #f6f8f8;
  border-bottom: 1px solid #d4d4d4;
  }
.edt-tree-header-col {
  font-weight: bold;
  text-align: center;
  }
.edt-tree-header-col,
.edt-tree-view-col {
  float: left;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #d4d4d4;
  }
.edt-tree-view-col input[type="checkbox"],
.edt-tree-view-col input[type="radio"] {
  padding: 0;
  margin: 0;
  }
.edt-tree-header-row .edt-tree-header-col:last-child,
.edt-tree-view-row .edt-tree-view-col:last-child {
  border-right-width: 0;
  }
.edt-tree-view-row:nth-child(even) .edt-tree-view-col {
  background-color: #f3f3f3;
  }
.edt-tree-view-row:nth-child(odd) .edt-tree-view-col {
  background-color: #fdfdfd;
  }
.edt-tree-header-col-content,
.edt-tree-view-col-content {
  height: 100%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
.edt-tree-view-col-content span,
.edt-tree-view-col-content input[type="text"],
.edt-tree-view-col-content input[type="checkbox"],
.edt-tree-view-col-content input[type="radio"] {
  vertical-align: middle;
  }
.edt-tree-view-col-content select {
  width: 100%;
  }
.edt-tree-hierarchy-icon {
  color: #525252;
  }
.edt-tree-hierarchy-icon:focus,
.edt-tree-hierarchy-icon:active,
.edt-tree-hierarchy-icon:link {
  color: #525252;
  text-decoration: none;
  }
.edt-tree-view-col-tree-content i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  }
.edt-tree-view-col-tree-content i + i {
  vertical-align: bottom;
  }
.edt-tree:after,
.edt-tree-header-row:after,
.edt-tree-view-row:after {
  display: table;
  clear: both;
  content: " ";
  }
/* button */
button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: .65;
  }
.date-search-group {
  display: inline-block;
  }
.date-search-group .btn-search {
  height: 28px;
  margin: 0 0 0 10px;
  }
.date-search-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  }
.date-search-btn-group li {
  float: left;
  margin-left: -1px;
  }
.date-search-btn-group li button {
  height: 28px;
  padding: 0 10px;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  }
.date-search-btn-group li button:hover {
  color: #fff;
  background-color: rgba(67, 117, 219, .5);
  }
.date-search-btn-group li:first-child {
  margin-left: 0;
  }
.date-search-btn-group li:first-child button {
  margin-left: 0;
  }
.date-search-btn-group li:after {
  display: table;
  clear: both;
  content: " ";
  }
.date-search-btn-group li.action button {
  color: #fff;
  background-color: #0054ff;
  }
.date-search-btn-group li.active button {
  color: #fff;
  background-color: #0054ff;
  }
.date-search-select-group {
  display: inline-block;
  }
.date-search-select-group .date-select-name {
  margin-left: 10px;
  }
.date-search-select-group select {
  display: inline-block;
  width: 80px;
  }
.list-container {
  position: relative;
  margin: 0;
  }
.list-container .list-node {
  display: block;
  padding: .8%;
  overflow: hidden;
  }
.list-container .list-node[draggable=true] {
  cursor: move;
  }
.list-node .input-group {
  position: static;
  display: table;
  border-collapse: separate;
  }
.list-node .input-group .input-group-addon {
  display: table-cell;
  width: 1%;
  padding: 8px 12px;
  line-height: 1;
  color: #555;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ddd;
  }
.list-node .input-group .input-group-addon:first-child {
  border-right: 0;
  }
.list-node .input-group .input-group-addon input[type=checkbox],
.list-node .input-group .input-group-addon inpu[type=radio] {
  width: 14px;
  height: 14px;
  margin: 0;
  }
.list-node .input-group .form-control {
  position: static;
  display: table-cell;
  float: left;
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  color: #555;
  border: 1px solid #ddd;
  }
.list-node.node-dragging .form-control,
.list-node.node-dragging .input-group-addon {
  background-color: lightblue;
  }
.list-node.selected .form-control,
.list-node.selected .input-group-addon {
  font-weight: bold;
  color: #3c763d;
  background-color: #dff0d8;
  }
.dashboard-popup-setting .setting-list-arrow {
  width: 40px;
  }
.dashboard-popup-setting .setting-list-arrow .icon-action {
  width: 100%;
  height: 50%;
  text-align: center;
  }
